.nav {
    background-color: #fff;
    padding: 10px 60px;
    position: relative;
    z-index: 2;
}
#logo {
    display: inline-block;
    font-size: 1.5em;
    line-height: 40px;
    color: #2c3e50;
    font-weight: 500;
}
#logo span {
    font-size: 1.2em;
}
.red {
    color: red;
}

div {
    display: block;
}